<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

    <!-- 配置自动扫描的包 -->
    <context:component-scan base-package="com.ytying" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- token拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 需拦截的地址 -->
            <!-- 一级目录 -->
            <mvc:mapping path="/**" />
            <!-- 需排除拦截的地址 -->
            <mvc:exclude-mapping path="/"/>
            <mvc:exclude-mapping path="/400"/>
            <mvc:exclude-mapping path="/404"/>
            <mvc:exclude-mapping path="/500"/>
            <mvc:exclude-mapping path="/favicon"/>
            <mvc:exclude-mapping path="/robots.txt"/>
            <mvc:exclude-mapping path="/user/UserLogin"/>
            <mvc:exclude-mapping path="/user/UserAdd"/>
            <mvc:exclude-mapping path="/gel/AppConfigGet"/>
            <mvc:exclude-mapping path="/gel/UnupdateVersionListGet"/>

            <bean class="com.ytying.interceptor.TokenInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>


    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 配置静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- Spring 乱码问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="writeAcceptCharset" value="false"/>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 注解 -->
    <!--<mvc:annotation-driven/>-->

</beans>